.aboutMe_main{
    width: 45%;
    height: 85%;
    border: 2px solid black;
    border-radius: 5%;
    margin: auto;
    background-size: cover;
    background-repeat: repeat-y;
}

.aboutMe_container_text{
    border: 2px solid white;
    margin-top: 50%;
    background-color: rgba(248, 237, 221, 0.747);
    text-align: center;
    
}

@media (max-width: 768px) {

    .aboutMe_main{
        width: 75%;
        height: 65vh;
    }

    .aboutMe_container_text{
        
        font-size: 1.3em;
    }

}