.paginaDos_Container{
    width: 100%;
    height: 100vh;
    background-size: cover;
   padding-top: 8%; 
     
}

.paginaDos_contenido{
    width: 75%;
    height: 89%;
    border: 2px solid black;
    border-radius: 5%;
    margin: auto;
    background-color: rgb(228, 250, 250);   
}

.paginaDos_lista{
    display: flex;
    list-style: none; 
    margin-top: -7%;
    font-size: 150%; 
}

.paginaDos_lista li{
    margin: 3% 8%;
    height: 30px;
    background-color:rgba(0, 0,0 , 0);
    padding: 0% 1%;
    
}

.paginaDos_lista li:hover{
    text-decoration: underline;
    font-weight: 800;
    height: 50px;
    background-color:rgba(49, 80, 216, 0.678);
    transition: height 1s ease 0s;
}

.paginaDos_contenido_description{
    
    display: flex;
    height: 70%;
}

.description_text{
    display: block;
    margin: 3%;
    width: 60%;
    height: 60%;
    
}

.description_background_image{
    width: 30%;
    height: 70%;
    margin: 0 5%;
}

.description_image{
    width:100%;
    height: 100%; 
    background-size: cover;
    background-repeat: no-repeat;
}



.description_buttons { 
    justify-content: space-around;   
    display: flex;  
    margin-top: 2%;
}

.myButton1 {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.myButton1:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.myButton1:active {
	position:relative;
	top:1px;
}

.myButton2 {
	box-shadow:inset 0px 1px 0px 0px #6eb8cf;
	background:linear-gradient(to bottom, #1b63cf 5%, #17afba 100%);
	background-color:#1b63cf;
	border-radius:3px;
	border:1px solid #301294;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #295d85;
}
.myButton2:hover {
	background:linear-gradient(to bottom, #17afba 5%, #1b63cf 100%);
	background-color:#17afba;
}
.myButton2:active {
	position:relative;
	top:1px;
}
