*{
    padding: 0;
    margin: 0;
    
}

.bodyUno{
    width: 100%;
    display: flex; 
    background-color: rgb(27, 26, 26);
    overflow-X: hidden;
    overflow-y: auto;
    
    
}

.barra_izquierda{
    max-width: 25%;
    height:100vh !important;
    max-height: 111vh;
    background-color: rgb(26, 25, 25);
    display: flex;
    justify-content: center;
    padding: auto;
    overflow: hidden;      
    border-right: 1px solid wheat;
    border-bottom: 1px solid wheat;
}

.barra_izquierda ul{
list-style: none ;
width: 100%;
height: 90%;
font-size: large;
display: inline-block;
}

.barra_izquierda a{
    text-decoration:none;
    color: rgb(179, 176, 176);
    border-bottom: 1px solid rgb(138, 133, 133);
    display: flex;
    width: 100vh;
    height: 10vh;
    align-items: center;
    padding-left: 15%;  
    
}

.barra_izquierda a:hover{
    
    color: rgb(5, 238, 207);
    font-weight: 600;
    transition: 1.3s ease-in-out;
    text-decoration: underline;
    
}

.Body_Content{
    background-color: rgb(17, 16, 16);
    width:75%;
}


.barra_izquierda_logo{
    
    width: 100vh;
    height: 20vh;
    background-position: 5%;
    background-size:40vh 50vh ;
    background-repeat: no-repeat;
    background-color: black;
    
      
}


@media (max-width: 768px) {

    .barra_izquierda{
        min-width: 100%;
        max-height:12% !important;
        position: absolute;
        display: flex;
        
        
    }

    .barra_izquierda ul{
        
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    
    }

        .barra_izquierda_logo{
    
            max-width: 20%;
            max-height: 100%;
            position: absolute;
            background-size: contain;
            margin:0 1%;    

        }

        .barra_izquierda a{
           max-width: 50px;
           max-height: 50px;
           position: relative;
           justify-content: space-around;
           border: none;
           bottom: 15%;
                       
        }

        .barra_izquierda_responsive_btn{
            
            max-width: 10%;
            max-height: 5vh;
            font-size: small;
            position: relative;
            text-align: top;
            margin-left: 7%;
            padding: 0 5%;
            
            
        }

        .barra_izquierda section{
           
            position: relative;
            left: 20%;
            min-width: 78%;
            min-height: 100%;
            display: flex;
            flex-wrap: wrap;


        }
       



}